
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}



body{
  background: #000;
  clear: rgba(119,207,186,1.00);
  font-family: 'Quicksand' , sans-serif;
}

.header_top{
  position: fixed;
  z-index: 10000;
  width: 100%;
}

.headerLogo{
  width: 100%;
  height: 350px;
  object-fit: cover;
  padding-top: 50px;
}

.textColor {
    color: white;
}


.neon{
  color: #A7F8FF  ;
  text-shadow: 0 0 20px #1779ff;
}

.select_neon{
  margin: 0;
  position: absolute;
  color: #A7F8FF;
  text-shadow: 0 0 20px #1779ff;
  padding: 5px 20px 0 20px;
  font-size: 22px;
}

.select_neon:hover{
  color: #000 ;
}

.borderline{
background: linear-gradient(to left, #1779ff,#0c002b);
animation: animate 2.5s linear infinite;
width: 100%;
height: 3px;
box-shadow: 20px 0 20px #1779ff;
}

@keyframes animate
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(0%);
  }
}

@media screen and (max-width:480px) {

.header_top{
  height: 40px;
}

.headerLogo{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

}