---
layout: layouts/page.njk
root: "."
permalink: "Design.html"
title: "Design"
description: "藤田亮介のグラフィックデザイン・ロゴ・製菓作品"
styles: ["PictureStyle.css", "lightbox.min.css"]
scripts: ["lightbox.min.js"]
ads: true
---
{#-
	画像のサイズと入れ子は1点ずつ手で組んだレイアウトのため、
	共通化は head / nav / footer に留めて本文はそのまま持つ。
-#}
	<main>
		<div class="title">
			<h1 class="titleSize1 textColor">Design</h1>
		</div>

		<div class="Picture delayScroll">
			<div class="PictureInlineBox box fadeUp">
				<a class="aBox" href="./images/Design/original名刺.jpg" data-lightbox="photo" data-title="オリジナル名刺"><img width="840px" height="540px" src="./images/Design/original名刺.jpg" alt="オリジナル名刺" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time02">
				<a class="aBox" href="./images/Design/ポスター3.jpg" data-lightbox="photo" data-title="「自分の個展」がコンセプトのポスター
				 優秀デザイン賞受賞、デジタルハリウッドに展示されている"><img width="375px" height="540px" src="./images/Design/ポスター3.jpg" alt="「自分の個展」がコンセプトのポスター" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time04">
				<a class="aBox" href="./images/Design/Akiba.jpg" data-lightbox="photo" data-title="水性画「風」秋葉原"><img width="675px" height="350px" src="./images/Design/Akiba.jpg" alt="水性画「風」秋葉原" /></a>
				<div class="PictureBox  box fadeUp delay-time06">
					<a class="aBox " href="./images/Design/Logo1_03.jpg" data-lightbox="photo" data-title="オリジナルロゴ"><img width="675px" height="190px" src="./images/Design/Logo1_03.jpg" alt="オリジナルロゴ" /></a>
				</div>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time08">
				<a class="aBox" href="./images/Design/IMG_0167.jpeg" data-lightbox="photo" data-title="左から黒ゴマ、アールグレイ、抹茶のボンボンショコラ "><img width="610px" height="190px" src="./images/Design/IMG_0167.jpeg" alt="黒ゴマ、アールグレイ、抹茶のボンボンショコラ" /></a>
				<div class="PictureBoxdelay-time10">
					<a class="aBox" href="./images/Design/3987.JPG" data-lightbox="photo" data-title="フォンダンショコラ"><img width="610px" height="345px" src="./images/Design/3987.JPG" alt="フォンダンショコラ" /></a>
				</div>
			</div>
			<div class="PictureInlineBox box fadeUp box fadeUp delay-time12">
				<a class="aBox" href="./images/Design/2723.JPG" data-lightbox="photo" data-title="専門学校卒業制作 静岡県協会会長賞受賞"><img width="640px" height="540px" src="./images/Design/2723.JPG" alt="専門学校卒業制作 静岡県協会会長賞受賞" /></a>
			</div>

			<div class="PictureInlineBox box fadeUp box fadeUp delay-time14">
				<a class="aBox" href="./images/Design/2770.JPG" data-lightbox="photo" data-title="ムースショコラ、スイートポテト、巨峰とシャインマスカットのケーキ"><img width="320px" height="540px" src="./images/Design/2770.JPG" alt="ムースショコラ、スイートポテト、巨峰とシャインマスカットのケーキ" /></a>
			</div>

			<div class="PictureInlineBox box fadeUp box fadeUp delay-time16">
				<a class="aBox" href="./images/Design/20150704_115436189_iOS.jpeg" data-lightbox="photo" data-title="オリジナルシュークリーム"><img width="315px" height="540px" src="./images/Design/20150704_115436189_iOS.jpeg" alt="オリジナルシュークリーム" /></a>
			</div>

		</div>
	</main>
