---
layout: layouts/page.njk
root: "."
permalink: "Picture.html"
title: "Picture"
description: "藤田亮介が撮影した写真とデッサン作品"
styles: ["PictureStyle.css", "lightbox.min.css"]
scripts: ["lightbox.min.js"]
ads: true
---
{#-
	画像のサイズと入れ子は1点ずつ手で組んだレイアウトのため、
	共通化は head / nav / footer に留めて本文はそのまま持つ。
-#}
	<main>
		<div class="title">
			<h1 class="titleSize1 textColor">Picture</h1>
		</div>

		<div class="Picture delayScroll">
			<div class="PictureInlineBox box fadeUp">
				<a class="aBox" href="./images/picture/DSC00431.jpg" data-lightbox="photo" data-title="東京駅南にあるガード下"><img width="840px" height="540px" src="./images/picture/DSC00431.jpg" alt="東京駅南にあるガード下" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time02">
				<a class="aBox" href="./images/picture/pict221126_2014010000.jpg" data-lightbox="photo" data-title="東京スカイツリー"><img width="375px" height="540px" src="./images/picture/pict221126_2014010000.jpg" alt="東京スカイツリー" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time04">
				<a class="aBox" href="./images/picture/DSC00477.jpg" data-lightbox="photo" data-title="渋谷ストリーム"><img width="675px" height="350px" src="./images/picture/DSC00477.jpg" alt="渋谷ストリーム" /></a>
				<div class="PictureBox  box fadeUp delay-time06">
					<a class="aBox " href="./images/picture/DSC00228.jpg" data-lightbox="photo" data-title="万世橋"><img width="675px" height="190px" src="./images/picture/DSC00228.jpg" alt="万世橋" /></a>
				</div>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time08">
				<a class="aBox" href="./images/picture/DSC00535.jpg" data-lightbox="photo" data-title="青の洞窟 SHIBUYA"><img width="610px" height="190px" src="./images/picture/DSC00535.jpg" alt="青の洞窟 SHIBUYA" /></a>
				<div class="PictureBoxdelay-time10">
					<a class="aBox" href="./images/picture/DSC00448.jpg" data-lightbox="photo" data-title="渋谷横丁"><img width="610px" height="345px" src="./images/picture/DSC00448.jpg" alt="渋谷横丁" /></a>
				</div>
			</div>
			<div class="PictureInlineBox box fadeUp box fadeUp delay-time12">
				<a class="aBox" href="./images/picture/DSC00382.jpg" data-lightbox="photo" data-title="セイコーハウス銀座 時計塔"><img width="640px" height="540px" src="./images/picture/DSC00382.jpg" alt="セイコーハウス銀座 時計塔" /></a>
			</div>

			<div class="PictureInlineBox box fadeUp box fadeUp delay-time14">
				<a class="aBox" href="./images/picture/DSC00387.jpg" data-lightbox="photo" data-title="東京国際フォーラム"><img width="320px" height="540px" src="./images/picture/DSC00387.jpg" alt="東京国際フォーラム" /></a>
			</div>

			<div class="PictureInlineBox box fadeUp box fadeUp delay-time16">
				<a class="aBox" href="./images/picture/DSC00460.jpg" data-lightbox="photo" data-title="渋谷ヒカリエ連絡通路"><img width="315px" height="540px" src="./images/picture/DSC00460.jpg" alt="渋谷ヒカリエ連絡通路" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time18">
				<a class="aBox" href="./images/picture/DSC00567.jpg" data-lightbox="photo" data-title="五重塔"><img width="210px" height="540px" src="./images/picture/DSC00567.jpg" alt="五重塔" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time20">
				<a class="aBox" href="./images/picture/DSC00391.jpg" data-lightbox="photo" data-title="東京国際フォーラム"><img width="840px" height="540px" src="./images/picture/DSC00391.jpg" alt="東京国際フォーラム" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time22">
				<a class="aBox" href="./images/picture/DSC00472.jpg" data-lightbox="photo" data-title="渋谷ビル街"><img width="840px" height="540px" src="./images/picture/DSC00472.jpg" alt="渋谷ビル街" /></a>
			</div>

			<div class="PictureInlineBox box fadeUp box fadeUp delay-time16">
				<a class="aBox" href="./images/picture/iOS の画像 (8).jpg" data-lightbox="photo" data-title="呪術廻戦 五条悟"><img width="315px" height="540px" src="./images/picture/iOS の画像 (8).jpg" alt="呪術廻戦 五条悟" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time18">
				<a class="aBox" href="./images/picture/DSC00859.JPG" data-lightbox="photo" data-title="ガンダム彗星の魔女 エラン・ケレス"><img width="210px" height="540px" src="./images/picture/DSC00859.JPG" alt="ガンダム彗星の魔女 エラン・ケレス" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time20">
				<a class="aBox" href="./images/picture/IMG_4349.JPG" data-lightbox="photo" data-title="鬼滅の刃 冨岡義勇"><img width="840px" height="540px" src="./images/picture/IMG_4349.JPG" alt="鬼滅の刃 冨岡義勇" /></a>
			</div>
			<div class="PictureInlineBox box fadeUp delay-time22">
				<a class="aBox" href="./images/picture/IMG_2475.jpg" data-lightbox="photo" data-title="ブルーロック 糸師凛"><img width="520px" height="540px" src="./images/picture/IMG_2475.jpg" alt="ブルーロック 糸師凛" /></a>
			</div>

		</div>
	</main>
